body {
  font-family: Verdana, Geneva, sans-serif;
  padding: 0;
  background: #282C34;
  color: #E06C75;
}

div {
  margin: 0;
  padding: 0;
}

header {
  display: inline-block;
  width: 400px;
  height: 600px;
  border: 2px solid #56B6C2;
  margin: 10px 0 20px 50px;
  box-sizing: border-box;
}

.projects {
  margin: 10px 0 20px 50px;
  float: right;
  border: 2px solid #56B6C2;
  width: 760px;
}

.project-box {
  background: #E06C75;
  color: #282C34;
  padding: 50px 0 0 10px;
  width: 350px;
  margin-top: 30px;
  box-sizing: border-box;
}
